/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
	margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* The resource http://localhost:3000/_next/static/css/app/layout.css?v=1729602510250 was preloaded using link preload but not used within a few seconds from the window's load event. Please make sure it has an appropriate `as` value and it is preloaded intentionally.  */
/* Only in development, so I'm gonna leave it. */
/* It's actually a byproduct of another bug */

body {
	--font-biggest: 2rem;
	--font-bigger: 1.5rem;
	--font-big: 1.2rem;
	--font-normal: 1rem;
	--font-small: 0.8rem;

	--gap-big: 16px;
	--gap-normal: 8px;
	--gap-small: 5px;
	--gap-extra-small: 3px;

	--card-padding: 10px;
	--textarea-padding: 5px;

	--border-radius-big: 10px;
	--border-radius-normal: 5px;
	--border-radius-small: 2px;

	--header-height: 2rem;
}
